%h1 Lista de Im贸veis
%hr
  .card
    .card-header.d-flex.justify-content-between.align-items-center
      Tabela de Im贸veis Cadastrados
      = link_to new_imovel_path, remote: true, class: 'btn btn-outline-primary', title: 'Novo im贸vel' do
        %i.fas.fa-plus
        Novo
    .card-body
      - if @imoveis.present?
        = render 'imoveis/lista'
      - else
        %p.text-muted Nenhum im贸vel cadastrado no momento

