.jumbotron
  %h1.display-4  Cadastro de Imóveis
  %p.lead="Usuário: #{current_proprietario.email}"
  %hr.my-4/
  = link_to imoveis_path, class: 'btn btn-outline-primary btn-lg' do
    %i.fas.fa-home
    Lista de Imóveis
