.card
  .card-header.d-flex.justify-content-between.align-items-center
    %h2 Proprietários
    
    - if can? :manage, Proprietario
      = link_to new_proprietario_path, remote: true, class: 'btn btn-primary', title: 'Novo proprietário' do
        %i.fas.fa-plus
        Novo

  .card-body
    - if @proprietarios.present?  
      = render 'proprietarios/lista'