:plain
  var modal = $("#modal-window")
  modal.find(".modal-body").html("#{j (render file: 'proprietarios/new.html.haml')}");
  modal.find('.modal-title').html("Cadastrando Proprietário");
  modal.modal();